@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

body {
  margin: 3.5rem auto;
  max-width: 45rem;
  font-family: "Courier New", Courier, monospace;
  animation: fadein 0.5s;
  height: fit-content;
}

h1 {
  font-size: 2.5rem;
}

p {
  font-size: 1rem;
}

a {
  color: rgb(35, 103, 230);
  text-decoration: none;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*For Phones*/
@media (max-width: 680px) {
  body {
    max-width: 20rem;
  }
}

/*For Tablets*/
@media (max-width: 809px) and (min-width: 681px) {
  body {
    max-width: 31rem;
  }
}

.card {
  padding: 0.5rem;
  padding-top: 0;
  border: 1px solid #5f6368;
  margin: 1rem;
  border-radius: 5px;
  width: 17rem;
  height: fit-content;
  background: transparent;

  box-shadow: 2px 2px 0px 0px #5f6368;
}

.card a {
  color: rgb(94, 149, 252);
  text-decoration: none;
}

.tag {
  border: 1px solid #5f6368;
  border-radius: 10%;
  color: white;
  background: none;
  font-family: "Courier New", Courier, monospace;
  text-transform: uppercase;
  font-size: 0.7rem;
  margin-top: 0.5em;
  padding: 0.2rem;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#experience-row {
  list-style: none;
}

#experience-row > li {
  position: relative;
  margin: 0;
  padding-bottom: 1em;
  padding-left: 20px;
}

#experience-row > li:before {
  content: "";
  width: 2px;
  background-color: white;
  position: absolute;
  top: 10px;
  bottom: -3px;
  left: 5px;
}

#experience-row > li.tail::before {
  content: none;
}

#experience-row > li > * {
  margin-left: 1em;
}

#experience-row > li h2 {
  margin-top: -1em;
}

#experience-row-div {
    margin-left: 2em;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #113;
    color: white;
  }

  hr {
    border: 1px solid #5f6368;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: beige;
    color: #111;
  }

  circle {
    stroke: #333;
  }

  circle.inner {
    fill: #333;
  }

  circle.tail {
    fill: #333;
  }

  hr {
    border: 0.5px solid #555;
  }

  #experience-row > li:before {
    background-color: #333;
  }

  .card {
    border: 1px solid #444;
    box-shadow: 3px 3px 0px 1px rgb(0, 0, 0, 0.3);
  }

  .tag {
    border: 1px solid #444;
    color: #444;
  }
}
